<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>电影管理平台</title>
  </head>
  <!-- <script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script>
  <script src=<%= htmlWebpackPlugin.options.path %>/library/<%= htmlWebpackPlugin.options.bundleConfig %>></script>
   -->
   
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

  <style>
    /* 设置会让整个背景覆盖全页面 */
  #app{

        padding:0px;

        margin:0px;

        position:absolute;

        top:0px;

        left:0px;

        width:100%;

        height:100%;

        border:hidden;

}
  </style>
</html>
