.modal-body {
    background-color: #FFF;
}
.modal-full {
    &.modal.in {
        background-color: transparent;
    }
    .modal-content {
        border-radius: 0;
        box-shadow: none;
        border: 0;
    }
    .modal-dialog {
        margin-top: 50px;
        margin-left: 192px;
    }
    .modal-body{
        padding: 0px;
        background: $brand-base;
        >header {
            margin: 0;
            border: 30px solid $brand-dark;
        }
        .tabs-control{
            padding: 19px 30px 0px 30px;
            border-top: 1px solid $border-grey;
            .tabs {
                margin-bottom: 21px;
                >li {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: lighter;
                    margin: 0px 80px 0px 0px;
                    padding: 0px 8px 12px 8px;
                    color: #bfbfbf;
                    &.active{
                        color: #0093ff;
                        border-bottom: 4px solid #0093ff;
                    }
                }
            }
            .table {
                border: 1px solid #e0e0e0;
                background: #FFF;
                > tbody {
                    > tr {
                        th{
                            font-size: 16px;
                            padding: 22px;
                            border: 1px solid #e0e0e0;
                        }
                        td {
                            font-size: 14px;
                            padding: 18px;
                        }
                    }
                }
            }
        }
    }
}
.signupRecord-content {
    background-color: #FFF;
}