.filter-form {
    float: left;
    > div {
        margin-bottom: 10px;
    }
    .date-out {
        position: relative;
        float: left;
        margin-right: 30px;
        .date {
            &:before {
                border-top: 4px dashed;
                border-top: 4px solid\9;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                content: "";
                position: absolute;
                right: 20px;
                top: 19px;
            }
        }
    }
    .btn-group {
        float: left;
        > button {
            padding: 0;
            height: 40px;
            &.btn-default {
                &:focus,
                &:active,
                &:hover {
                    box-shadow: none;
                    background: #FFF;
                    border: 1px solid #DDD;
                }
            }
        }
    }
    > span
    {
        margin-bottom: 10px;
    }
}
$button-size: 42px;
    
.search {
    .form-control {
        width: 238px;
        float: left;
        text-indent: 20px;
        height: 42px;
        box-sizing: border-box;
        line-height: 42px;
        box-shadow: none;
        border: 1px solid #CCC;
        border-right: none;
        padding: 0;
        border-radius: 4px 0px 0px 4px;
    }
    > button {
        float: left;
        border: 1px solid #CCC;
        border-left: none;
        outline: none;
        width: $button-size;
        height: $button-size;
        line-height: $button-size;
        padding-left: 0;
        padding-right: 0;
        background: #FFF;
        margin-right: 30px;
        box-sizing: border-box;
        padding: 0;
        border-radius: 0px 4px 4px 0px;
        > span {
            font-size: 17px;
            vertical-align: middle;
            color: #CCC;
        }
        &:active {
            > span {
                color: $gray-999;
            }
        }
    }
}
