.modal-body {
	form {
		select.form-control {
		    width: 230px;
	        border: 1px solid #e0e0e0;
	        height: 46px;
		}
		.line-color {
			color: #e0e0e0;
		}
		.control-text {
		    text-indent: 10px;
		}
		.form-group {
			margin-bottom: 30px;
			label {
	            margin-bottom: 0px;
	        }
			h3 {
	            margin-bottom: 10px;
	        }
			input[disabled] {
		    	background: #FFF;
				padding: 15px 20px 15px 20px;
		    }
		    textarea {
		    	border-radius: 4px;
		    }
		 	.select-branch {
		 		.btn-select,
		        .select-text {
		        	width: 699px;
					padding-left: 20px;
		            margin-right: 8px;
		            text-align: left;
		            border-color: #e0e0e0;
		            height: 44px;
		            .caret {
		                float: right;
		                margin-top: 20px;
		            }
		        }
		    }
		    > input {
		        padding: 15px 20px 15px 20px;
		        width: 188px;
		    }
		    .medium {
		        padding: 15px 20px 15px 20px;
		        width: 188px;
		    }
		    .full {
		        width: 688px;
		    }
		    .normal {
		    	padding: 15px 20px 15px 20px;
		        width: 688px;
		    }
		    .date {
				line-height: 31px;
	        }
	    	input[type="checkbox"] {
				margin-top: 0;
				opacity: 0;
				position: absolute;
				z-index: -1;
			}
			input[type="checkbox"]+span {
				display: inline-block;
				height: 20px;
				width: 20px;
				border-radius: 4px;
				border: 1px solid $gray-999;
				margin-right: 3px;
				vertical-align: middle;
				margin-left: -1px;
			}
			li,
			div {
				> label {
					cursor: pointer;
				}
			}
			input[type="checkbox"]:checked+span::after {
				content: '';
				width: 10px;
				height: 5px;
				border: 2px solid #FFF;
				border-top: 0;
				border-right: 0;
				position: absolute;
				top: .5rem;
				left: .4rem;
				transform: rotate(-45deg);
			}
			input[type="checkbox"]:checked+span{
				background-color: $brand-primary;
				border: 1px solid #FFF;
				border-radius: 4px;
				vertical-align: middle;
				width: 20px;
				height: 20px;
			}
		}
	}
}
